<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Download</title>
</head>
<body>

    <img src="../static/{{data['word']}}.jpg" alt="" style="width: 70%; height: 20%; border: 2px solid aqua; margin-left: 15%;">
    
    <br>

    <a href="../static/{{data['word']}}.jpg" style="display: flex; justify-content: center; text-decoration: none;" download="">Download image</a>

    <a href="./" style="display: flex; justify-content: center; text-decoration: none;">Go to main page</a>

</body>
</html>