<form class="form-inline" method="POST" action="{{ url_for('test') }}">

        <select name="comp_select" class="selectpicker form-control" style="width: 100px; height: 30px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
            <option value="Unit 1">Unit 1</option>
            <option value="Unit 2">Unit 2</option>
            <option value="Unit 2">Unit 3</option>
        </select>
 
    <br>
    
    <input type="text" placeholder="word" name="word" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">

    <br>
    
    <input type="text" placeholder="speaking word" name="speaking_word" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">

    <br>
    
    <input type="text" placeholder="translated text 1" name="translated_text_1" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">

    <br>
    
    <input type="text" placeholder="example sentence 1" name="example_sentence_1" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">

    <br>
    
    <input type="text" placeholder="translated text 2" name="translated_text_2" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">
    
    <br>

    <input type="text" placeholder="example sentence 2" name="example_sentence_2" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">

    <br>

    <button type="submit" class="btn btn-default" style="width: 300px; height: 80px; display: flex; justify-content: center; align-items: center; margin: 0 auto; text-align: center;">Go</button>

    <br>

</form>